# Project exclude paths
/apps/frontend/vite.config.d.ts
/apps/frontend/vite.config.js

/node_modules
**/node_modules
node_modules
/_DATA
**/_DATA
/data
**/data/
lawvision-data
/lawvision-data
lawvision-data/