@tailwind base;
@tailwind components;
@tailwind utilities;

/********/
/* MAIN */
/********/

:root {
	--color-primary: #ff0000;
	--color-secondary: #00ff00;
	--color-tertiary: #0000ff;
	--color-neutral: #f9f9f9;
	--color-neutral-dark: #333;
	--color-neutral-light: #f9f9f9;
	--color-neutral-lighter: #f3f3f3;
	--color-neutral-lightest: #f9f9f9;
	--color-neutral-darkest: #333;
	background-color: rgb(49, 49, 52, 1);
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	/*@apply h-full bg-blue-500 flex;*/
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media (min-width: 2000px) {
	.outer-container {
		@apply w-[80vw] transition-all;
	}
}

@media (max-width: 768px) {
	/*.details-container {*/
	/*    flex-direction: column;*/
	/*}*/
}

@media (min-width: 768px) {
	/*.county-detail, .judge-detail {*/
	/*    max-height: 45vh;*/
	/*}*/
}

@media (min-width: 1024px) {
	/*.county-detail, .judge-detail {*/
	/*    max-height: 60vh;*/
	/*}*/
}

/*****************/
/* COLORS */
/*****************/

.caseCount-color {
	@apply text-blue-500;
}

.averageBail-color {
	@apply text-orange-500;
}

.bailSet-color {
	@apply text-yellow-500;
}

.remand-color {
	@apply text-red-500;
}

.release-color {
	@apply text-green-500;
}

/*************/
/* UTILITIES */
/*************/

.loading {
	text-align: center;
	padding: 2rem;
	font-size: 1.5rem;
}

.super {
	font-size: 0.75rem;
	vertical-align: text-top;
}

.cursor-pointer {
	cursor: pointer;
}

/******************/
/* SUB-CONTAINERS */
/******************/

.sub-container {
	display: flex;
	flex-direction: column;
	@apply w-full;
}

.overview ul {
	@apply list-none;
}

.overview {
	@apply tracking-tight text-zinc-200;
}

.overview li {
	@apply my-2 h-full cursor-pointer rounded-lg p-2 text-right tracking-tight text-zinc-200 outline-none transition-all focus:outline-none;
}

.details-container {
	@apply sub-container h-full flex-[1] flex-col p-2 md:flex-row;
}

.chart-container {
	@apply sub-container m-2 flex h-full flex-col;
	@apply flex w-full flex-[0.5] flex-col rounded-lg bg-zinc-800 p-4 shadow-lg outline-zinc-700 hover:outline md:p-6;
}

.inner-container {
	@apply flex flex-col;
	@apply drop-shadow-lg;
	@apply h-full;
}

.title-container {
	@apply sub-container;
}

/****************/
/* DETAIL CARDS */
/****************/

/*****************/
/* LAW-CARD */
/*****************/
.law-card {
	@apply h-[75%] h-full min-w-[20vw] max-w-[50vw];
	@apply grow-0;
	@apply col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg;
}

.map-data {
	/*@apply flex justify-center -ml-[10%] p-[10%];*/
	/*@apply col-span-4;*/
	/*@apply w-[30vw];*/
	/*@apply w-[15vw];*/
	/*flex-grow: 5;*/
}

.map-wrapper {
	@apply flex flex-col;
	@apply h-[20vw] w-[20vw];
	@apply rounded-xl bg-zinc-800;
	@apply py-2;
}

.law-card:hover {
	transform: translateY(-2px);
}

.law-card-inner {
	@apply flex w-96 flex-col rounded-lg bg-zinc-800 p-6 pt-9 outline-zinc-700 transition-all hover:outline sm:w-[30vw] lg:w-[30vw];
	@apply h-full w-full;
	@apply grow-0;
	@apply flex flex-1 flex-col p-8;
	/*@apply max-h-[40rem]*/
}

.law-card h4 {
	@apply text-xl tracking-tight text-gray-500;
}

.law-card h6 {
	@apply text-end tracking-tight text-gray-500;
}

.law-card .sort {
	@apply float-right -mt-2 text-sm tracking-tight text-gray-500;
}

.law-card h2 {
	@apply mb-2 text-2xl tracking-tight text-gray-50;
}

/*****************/
/*     ITEM      */
/*****************/

.item {
	@apply cursor-pointer rounded-lg bg-zinc-900 px-4 py-2 text-zinc-200 outline-none transition-all hover:bg-zinc-700 hover:shadow-2xl focus:outline-none;
}

.item-stat h3 {
	@apply text-lg text-zinc-300;
}

.item .case-count {
	display: none;
}

.item:hover .case-count {
	display: inline;
}

.item button {
	@apply mb-2 text-zinc-400;
}

.item.selected {
	background-color: rgba(0, 0, 0, 0.7);
	@apply transition;
}

/***********/
/*   STAT  */
/***********/

.stat-wrapper {
	@apply flex flex-col;
	@apply w-full;
	@apply rounded-xl bg-zinc-900;
	@apply my-4 py-2;
}

.stat-item {
	@apply flex min-w-full;
	@apply flex flex-row items-center justify-between;
}

button.stat-item {
	@apply flex w-full px-4 py-4;
	@apply h-[4.5rem];
	@apply grow-0;
}

.stat-item h3 {
	@apply text-left text-lg text-zinc-300;
	@apply w-[10rem];
	font-size: 1rem /* 18px */;
	line-height: 1.25rem /* 28px */;
}

.stat-item {
	@apply px-4 py-2 text-zinc-200;
	/*@apply border-t-2;*/
	/*@apply bg-zinc-500 rounded-lg hover:bg-zinc-700;*/
	@apply cursor-pointer outline-none transition-all hover:shadow-2xl focus:outline-none;
}

.stat-item:first-child {
	@apply border-none;
}

.stat-item {
	@apply flex border-t border-gray-600;
}

.stat-item .stat-container {
	@apply flex justify-end text-right font-mono text-zinc-400;
	transition:
		transform 0.2s,
		box-shadow 0.2s,
		background-color 0.2s;
}

.selector-nav {
	@apply details-nav my-4 flex min-w-[20vw] max-w-full flex-row justify-between justify-self-center rounded-lg bg-neutral-900 py-1;
}

.selector-nav button {
	@apply w-[10rem] py-1 text-center font-semibold tracking-tight;
	/*@apply  py-2 text-md font-semibold tracking-tight;*/
	/*@apply bg-white;*/
}

.stat:hover {
	transform: translateY(-2px);
	background-color: rgba(0, 0, 0, 0.7);
}

/*****************/
/* LIST-ITEM */
/*****************/

.list-item {
	@apply flex min-w-full;
	@apply flex flex-row items-center justify-between;
}

button.list-item {
	@apply flex w-full px-4 py-4;
	@apply h-[4.5rem];
	@apply grow-0;
}

.list-item h3 {
	@apply text-left text-lg text-zinc-300;
	@apply w-[10rem];
}

.list-item .stat-container {
	@apply flex justify-end text-right font-mono text-zinc-400;
	transition:
		transform 0.2s,
		box-shadow 0.2s,
		background-color 0.2s;
}

.list-item {
	transition:
		transform 0.2s,
		box-shadow 0.2s,
		background-color 0.2s;
	/*@apply text-zinc-200 py-2 px-4 bg-zinc-900 rounded-lg hover:bg-zinc-700 transition-all outline-none focus:outline-none cursor-pointer;*/
}

.list-item:hover {
	transform: translateY(-2px);
	background-color: rgba(0, 0, 0, 0.7);
}

.list-item {
	@apply cursor-pointer rounded-lg bg-zinc-900 px-4 py-2 text-zinc-200 outline-none transition-all hover:bg-zinc-700 hover:shadow-2xl focus:outline-none;
}

.list-item.selected {
	background-color: rgba(0, 0, 0, 0.7);
	@apply transition;
}

.list-item:hover .case-count {
	display: inline;
}

.list-item .case-count {
	display: none;
}

.list-item button {
	@apply mb-2 text-zinc-400;
}

.item:hover {
	transform: translateY(-2px);
	background-color: rgba(0, 0, 0, 0.7);
}

.county-detail,
.detail {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.scrollable-list {
	@apply max-h-[30rem] space-y-2 overflow-y-scroll;
}

.details-nav button {
	cursor: pointer;
	@apply mx-2 w-full rounded px-2 py-0.5 transition-all hover:bg-zinc-800 hover:opacity-70;
}

.details-nav button:hover {
	transform: scale(calc(1 + 0.02));
}

.details-nav .selected {
	@apply bg-zinc-800;
}

/*******/
/* MAP */
/*******/

.map-data {
	@apply -ml-[10%] flex justify-center p-[10%];
	/*@apply col-span-4;*/
	@apply w-full;
	/*@apply min-w-[30rem] max-w-[60rem] sm:min-w-[50rem];*/
	/*flex-grow: 5;*/
}

.county-detail,
.detail {
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}

.x-button:hover {
	transition:
		transform 0.2s,
		box-shadow 0.2s;
	@apply cursor-pointer transition;
	transform: translateY(-1px);
}

.detail {
	@apply rounded-lg bg-zinc-800 p-4 shadow-lg outline-neutral-700 hover:outline md:p-6;
}

.detail h2 {
	@apply mb-4 text-3xl font-semibold tracking-tight text-gray-50;
}

.detail h4 {
	@apply mb-1 text-xl font-bold tracking-tight text-gray-500;
}

.detail:hover,
.county-detail:hover,
.detail:hover {
	transform: translateY(-2px);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
